body {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  color: #525252;
  text-decoration: none;
}


.title {
  margin: 0 0 58px;
  font-size: 40px;
}

.text {
  margin: 0;
  font-size: 22px;
line-height: 33px;
color: #2d2d2d;
font-family: "Arial";
}
.main-text {
  padding-bottom: 33px;
  font-size: 22px;
line-height: 33px;
color: #2d2d2d;
font-family: "Arial";
}
.main-text:last-child {
  margin: 0;
}

.img {
  margin-bottom: 48px;
}

.image {
  padding-top: 27px;
  margin-bottom: 48px;
}

.navigation {
  margin-bottom: 49px;
  font-size: 16px;
  line-height: 24px;
}

.subtitle {
  font-size: 22px;
  font-weight: bold;
  line-height: 33px;
}

.container {
  max-width: 1830px;
  margin: 0 30px;
}

.main-container {
  max-width: 1155px;
}

.section {
  margin-bottom: 33px;
}
.block {
  margin-bottom: 33px;
}
.block:last-child {
  margin: 0;
}
.section:last-child {
  margin: 0;
}
.content {
  margin-bottom: 62px;
}

.list {
  padding-left: 20px;
  margin: 0;
}

.article {
  padding-top: 100px;
  margin-bottom: 86px;
}

.footer-text {
  font-size: 22px;
  line-height: 33px;
  color: #2d2d2d;
}

.main-title{
  margin: 0;
  font-size: 22px;
line-height: 33px;
color: #2d2d2d;
font-family: "Arial";
font-weight: 400;
}